.home-page .hero-section {
  background-attachment: fixed;
  background-image: url("../assets/temp.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home-page .hero-content {
  backdrop-filter: blur(3px);
}

.home-page .hero-section h1,
h2 {
  background: linear-gradient(to right, var(--forest-green), var(--sunset-orange));
  background-clip: text;
  color: transparent;
  padding: 0 1rem;
  font-weight: bold;
  animation: titleFadeIn 2s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

.home-page .info-section {
  background-color: var(--light-gray);
  padding: 10rem min(20rem, 5%);
  width: 100%;
}

.home-page .info-section .image {
  width: 12rem;
  height: 18rem;
  box-shadow: 10px 10px 10px var(--charcoal-gray),
    -4px -4px 4px var(--charcoal-gray);
  margin-bottom: 1.5rem;
}

.home-page .infocard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.home-page .infocard:hover .infocard-img {
  opacity: 100%;
  scale: 1.05;
  transition: 1s;
}

.home-page .infocard .infocard-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 70%;
}

.home-page .info-section .infocards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home-page .info-section .infocards > .infocard {
  margin: 1rem;
  max-width: 340px;
}

.home-page .info-section .infocards > .infocard > h3 {
  margin-bottom: 1rem;
}

.home-page .home-footer {
  background-color: rgba(var(--cherry-blossom-pink), 0.5);
  text-align: center;
  padding: 10rem min(20rem, 20%);
}

.home-page .home-footer .header-text {
  color: rgb(219, 46, 46);
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 1rem;
}

.fade-in {
  animation: fadeIn 3s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes titleFadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translateY(-10px) scale(1.05);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
